body {
  background: #f5f5f5;
  font-size: 1em;
  font-family: "Playfair Display", sans-serif;
}
.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}
.masthead {
  background-image: url('http://i.imgur.com/braS3yz.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 6em 0;
  border-top: solid 1em #504d58;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 10px;
}
.masthead-intro {
  margin-bottom: 0.1em;
  color: #f5f5f5;
  font-size: 2em;
  font-family: "Playfair Display", serif;
}
.masthead-heading {
  margin-top: -0.2em;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 6em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 1px 1px 1px #000, 3px 3px 5px #acc2da;
}
.introduction-section,
.location-section,
.questions-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
}
.social > li {
  display: inline-block;
  font-weight: bold;
  font-size: 1.1em;
}
.introduction-section > p,
.loctation-section > p,
.questions-section > p {
  font-weight: 300;
  letter-spacing: 0.05em;
  font-family: "Playfair Display", serif;
}
.content-footer > p {
  color: #f5f5f5;
  font-size: 1.1em;
  font-weight: bold;
  font-family: "Lato", serif;
}
.questions-section > h2 {
  font-family: "Lato", serif;
  font-size: 1.2em;
  font-weight: bold;
  margin: 2em 0 1em 0;
}
section > h1 {
  margin-top: 2em;
  font-family: "Lato", serif;
  color: #3f3034;
  width: 200px;
  padding: 5px;
  box-shadow: 0 8px 6px -6px #7f91a5;
}
footer {
  background: #acc2da;
  border-bottom: solid 1em #504d58;
  padding: 4em 0;
  margin-top: 5em;
  border-radius: 10px;
}
h2 {
  color: #a59f74;
  text-shadow: 1px 1px 1px white;
}
a {
  color: #504d58;
}