body {
  font-family: Arial;
  background: #232323;
  color: white;
}
header {
  background: url('https://images.unsplash.com/photo-1441742917377-57f78ee0e582?fit=crop&fm=jpg&h=950&q=80&w=1225');
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 0 auto;
  text-align: center;
  color: white;
  padding: 95px;
  font-size: 40px;
}
h2 {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background: #00001f;
  padding: 30px;
}
p {
  font-size: 20px;
  width: 800px;
  margin: 0 auto;
  text-align: justify;
  padding: 20px
}
h4 {
  text-align: center;
  font-size: 20px;
  background: #191935;
  width: 200px;
  margin: 0 auto;
  padding: 10px;
}
footer {
  text-align: center;
  background: #2B3E63;
  padding: 50px;
  font-size: 20px;
}
a {
  color: white;
}